<div class="page-header">
  <h1>Student Course Schedule #<%= @student_course_schedule.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student</dt>
  <dd><%= @student_course_schedule.student_id %></dd>

  <dt>Course schedule</dt>
  <dd><%= @student_course_schedule.course_schedule_id %></dd>

</dl>
