<div class="page-header">
  <h1>Class #<%= @class.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Course schedule</dt>
  <dd><%= @class.course_schedule_id %></dd>

  <dt>Class datetime</dt>
  <dd><%= @class.class_datetime %></dd>

  <dt>Day of week</dt>
  <dd><%= @class.day_of_week %></dd>

</dl>
